.full-width {
  width: 100%;
}

.login-card {
  width: 250px;
  height: 250px;
  margin-left: calc(50% - 125px);
  margin-top: calc(50vh - 125px);
  padding: 0;
}

md-card-title {
  align-content: center;
}
