<div layout="column" flex  role="main">
  <md-card layout="vertical" class="login-card">
      <md-toolbar>Login</md-toolbar>
      <md-card-content layout="column" flex="30" layout-padding>
          <md-input-container class="full-width">
            <input mdInput placeholder="Email">
          </md-input-container>
          <md-input-container class="full-width">
            <input mdInput placeholder="Password" type="password">
          </md-input-container>
          <md-card-content layout-align="center center">
              <button md-button class="md-raised" flex="50" flex-sm="100">Login</button>
          </md-card-content>
      </md-card-content>
  </md-card>
</div>
